{% extends "ecommerce_base.html" %}
{% block content %}
    <div class="max-w-4xl mx-auto px-4 py-8" hx-boost="false">
        {% if cart.items %}
            <h2 class="text-2xl font-bold mb-4">Your Shopping Cart</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-200">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Product</th>
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Cart Quantity</th>
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Product Quantity</th>
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Product Image</th>
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Subtotal</th>
                            <th class="px-6 py-3 text-left font-semibold text-gray-700">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart.items.all %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ cart_item.product.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ cart_item.quantity }}</td>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ cart_item.product.stock }}</td>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
                                    <img height="200"
                                         width="200 "
                                         src="{{ cart_item.product.images.first.images.url }} "
                                         alt="">
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ cart_item.subtotal }}</td>
                                <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
                                    <button hx-confirm="You sure want to remove {{ cart_item.product.name }} from the cart You will have to add it again."
                                            hx-get="{% url 'delete-cart-item' cart_item.id %}"
                                            class="text-red-600">Remove</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap" colspan="2">
                                <strong>Total:</strong>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ cart.total }}</td>
                        </tr>
                    </tfoot>
                </table>
                {% comment %} check if the tenant has stripe enabled  {% endcomment %}
                <form class="mt-4"
                      action="{% url 'stripe-checkout-session' %}"
                      method="post"
                      hx-indicator="#indicator">
                    <button type="submit"
                            _="on load add @hidden to #indicator on click remove @hidden from #indicator"
                            class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">
                        <svg class="w-3.5 h-3.5 me-2"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 18 21">
                            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                        </svg>
                        <svg aria-hidden="true"
                             id="indicator"
                             display="hidden"
                             role="status"
                             class="htmx-indicator inline w-4 h-4 me-3 text-white animate-spin"
                             viewBox="0 0 100 101"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
                        </svg>
                        Check Out
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        No Items in Cart Add to See
    {% endif %}
{% endblock content %}
