{% load humanize %}
<h1 class="text-3xl pt-6 pb-5"># Featured products</h1>
<div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-2">
    {% for featured_product in featured_products %}
        {% for product in featured_product.products.all %}
            <a href="{% url 'product-detail' product.slug %}">
                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="p-8 rounded-t-lg h-48 w-96"
                         src="{{ product.images.first.images.url }}"
                         alt="{{ product.name }}" />
                    <div class="px-5 pb-5">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ product.name }}</h5>
                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ product.price | intcomma }}</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endfor %}
</div>
